@tailwind base; @tailwind components; @tailwind utilities;

/* nice defaults */
:root { color-scheme: dark; }
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html, body { height: 100%; }
